
    $kenzie-blue: #1C3869;
    $kenzie-gray: #F7F9FA;
    $kenzie-white: white;
    $kenzie-font: 'Nunito', sans-serif;
    @mixin flex-rows {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    @mixin flex-columns{
        display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }


body {
    font-family: $kenzie-font;
    box-sizing: border-box;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  h1 {
    font-size: 200%;
  }
  
  h2 {
    font-weight: 100;
    font-size: 130%;
  }
 
  .nav {
    background-color: $kenzie-gray;
  }

  .nav li {
    margin-top: 0;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0;
    text-decoration: underline;
  }

  .ul{
      display: flex;
      list-style: none;
  }
  
  .sub-button {
    background-color: $kenzie-blue;
    text-decoration: none;
    color: $kenzie-white;
    padding: 0.5em;
    border-radius: 5px;
    width: 8em;
    text-align: center;
    display: inline-block;
  } 
  
  .hero {
    @include flex-columns;
    margin: 2em;
  }

  .hero-sub {
      width: 80%;
  }
  
  .classes {
    @include flex-columns;
      padding: 1em;
      margin: 2em;
  }

  .class-type {
      margin: 2em;
  }

  .class-button {
    font-family: $kenzie-font;
      color: $kenzie-blue;
      text-align: center;
      font-size: 1em;
      background-color: $kenzie-white;
      border: 1px solid $kenzie-blue;
      border-radius: 5px;
      padding: 5px 40px 5px 40px;   
  }

  .banner {
      @include flex-columns;
      width: 100%;
      height: 10em;
      background-color: $kenzie-gray;
  }

  .banner-button {
    font-family: $kenzie-font;
    color: $kenzie-white;
    text-align: center;
    font-size: 1em;
    background-color: $kenzie-blue;
    border-radius: 5px;
    padding: 5px 40px 5px 40px; 
  }

  .meet {
      text-align: center;
      margin-left: 2em;
      margin-right: 2em;
  }

  .meet a {
      text-decoration: none;
  }

  .group{
    @include flex-columns;
    }

    .group p{
        font-size: 20px;
        font-weight: bolder;
    }

  .group-icons img{
      height: 5em;
      margin-top: 5px;
  }

//   .students{
//       display: flex;
//       flex-direction: row;
//     }

//   .students iframe {
//       height: 10em;
//       width: 14em;
//   }

//   .student-text {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//   }

  .signup-form {
    @include flex-columns;
    margin-top: 2em;
    background: url(./images/ka-hero.jpg) top center / 200px 200px no-repeat fixed padding-box content-box ;
  }
  
  .signup-form input {
    padding-left: 15px;
    margin-top: 5px;
    height: 3em;
  }
  
  .form-name input {
    width: 14em;
  }
  
  .form-info input {
    width: 30em;
  }
  
  .testimony {
    @include flex-columns;
      width: 80%;
    margin-left: 5em;
    margin-right: 5em;
      border-top: 1px solid $kenzie-gray;
      border-bottom: 1px solid $kenzie-gray;
    
      display: grid;
      grid-template-columns: auto 50% auto 50%;
    
  }

  .test {
      margin: 15px;
  }
 .test-icon{
     font-size: 4.5em;
 }

 @media only screen and (min-width:411px) {
    .form-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .classes {
        @include flex-columns;
        padding: 1em;
        margin: 2em;
    }
  
    .class-type {
        margin: 2em;
    }

//     .meet {
//         text-align: center;
//         margin-left: 4em;
//         margin-right: 4em;
//     }

//     .group-block{
//         display: grid;
//         grid-template-columns: 50% 50%;
//         grid-template-rows: 50% 50%;
//       }

//       .group p{
//         font-size: 24px;
//         font-weight: bolder;
//     }

//   .group-icons img{
//       height: 7em;
//       margin-top: 15px;
//   }

  }

 @media only screen and (min-width:786px) {

    .nav {
        margin-left: 35em;
    }

    .form-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .classes {
        @include flex-rows;
        padding: 1em;
        margin: 2em;
    }

    .class-type {
        margin: 4em;
    }

//     .grid-block {
//         display: grid;
//         grid-template-columns: 25% 25% 25% 25%;
//         grid-template-rows: 25% 25% 25% 25;
//     }

    .meet {
        grid-column: 1/5;
        text-align: center;
        margin-left: 10em;
        margin-right: 10em;
    }

    .group-block{
        @include flex-rows;
        margin-top: 30px;
      }

      .group p{
        font-size: 24px;
        font-weight: bolder;
    }

//   .group-icons img{
//       height: 8em;
//       margin-top: 10px;
//   }

 }